/* -----------------------------------------------------------------
    - Timeline
----------------------------------------------------------------- */

.timeline {
  margin-top: rem(29px);
  padding-left: rem(17px);
  
  @media only screen and (max-width: $small) {
    padding-left: rem(10px);
  }
  
  &__item {
	border-left-color: $gray-200-color;
	border-left-width: 1px;
	border-left-style: solid;
    padding-bottom: rem(19px);
    padding-left: rem(22px);
    position: relative;
	
	&::before {
	  content: '';
	  background-color: $tone-color;
	  box-shadow: 0 0 0 rem(3px) rgba($tone-color,.25);
	  border-radius: 50%;
	  @include position(absolute, $top: 0, $left: rem(-5px));
	  height: rem(10px);
	  width: rem(10px);
	}
	
	&:last-child {
	  border: 0;
	  padding-bottom: 0;
	  
	  p {
	    margin-bottom: rem(6px);
	  }
	}
	
	@media only screen and (max-width: $small) {
	  padding-bottom: rem(13px);
	  
	  &::before {
	    box-shadow: 0 0 0 rem(2px) rgba($tone-color,.25);
	    height: rem(8px);
		left: rem(-4px);
	    width: rem(8px);
	  }
	}
  }
  
  &__title {
    margin-bottom: 0;
	@include position(relative, $top: rem(-7px));
  }
  
  &__period {
    color: $gray-300-color;
    font-size: rem(14px);
  }
  
  &__description {
    font-size: rem(14px);
	margin-top: rem(8px);
	
	@media only screen and (max-width: $small) {
	  margin-top: rem(5px);
	  margin-bottom: rem(8px);
	}
  }
}